.nav li {
  	display: inline;
}

.nav a {
	position: relative;
	color: #5a5a5a;
	font-size: 16px;
  	font-weight: bold;
  	padding: 14px 10px;
  	text-transform: uppercase;
  	text-decoration: none;
  	top: 20px;
  	left: 10px;
  	right: 10px;
}

.nav a:hover {
  	color: #3fadab;
  	text-decoration: none;
}

.jumbotron{
	height: 500px;
	width: 100%;
	background-color: #3fadab;
}

.jumbotron h1{
	font-size: 50px;
	color: white;
}

.jumbotron h2{
	text-decoration: underline;
	color: black;
}

.jumbotron h3{
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.jumbotron p{
	font-size: 16px;
	color: black;
}

.learn-more {
	background-color: #808080;
}

.learn-more h2 {
  font-family: 'Shift', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black
}

.learn-more a {
  color: black;
  font-size: 16px;
}

.learn-more p{
	color: white;
}