.nav li {
  	display: inline;
}


.nav a {
	position: relative;
	color: #5a5a5a;
	font-size: 16px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  text-decoration: none;
  top: 20px;
  left: 10px;
  right: 10px;
}

.nav a:hover {
  	color: #3fadab;
  	text-decoration: none;
}

.design{
    background-color: #3fadab;
    height: 400px;
    border-radius: 10px;
}

.design h2{
    position: relative;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 60px;
    top: 60px;
    color: black;
}

.designview{
    background-color: #3fadab;
    height: 2000px;
    border-radius: 10px;
}

.designview h2{
    position: relative;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 60px;
    top: 60px;
    color: black;
}

#logo{
    position: relative;
    margin-left: 47px;
    top: 100px;
}

.view{
    position: relative;
    margin-left: 60px;
    top: 90px;
}

.view p{
    font-weight: bold;
}
